.main-header{
    height: 100%;
    color: white;
    background: linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(https://blackrockdigital.github.io/startbootstrap-creative/img/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    max-width: 1200px;
    width: 100%;
    margin: 0% auto;
    font-family: 'Roboto', sans-serif;
    height: 80px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    a{
        padding: 0px 5px;
        color: white;
        text-decoration: none;
        // border-bottom: 2px solid rgb(255, 255, 255);
        margin-right: 39px;
        -webkit-transition: 2s ease;
            transition: 2s ease;
    }
    h1{
        padding-left: 10px;
    }
}
// linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(../img/bg-masthead.jpg)
.main-sub{
    max-width: 1200px;
    width: 100%;
    margin: 0% auto;
    text-align: center;
    height: calc(100% - 91px);
    padding: 10px;
    h1{
        font-size: 60px;
        font-family: "Merriweather Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        max-width: 900px;
        margin-bottom: 10px;
        -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: example;
        animation-duration: 4s;
    }
    @keyframes example {
        from {
            margin-left: -100px;
        }
        to {
            margin-left: 0px;
        }
    }
    hr{
        background-color: red !important;
    }
    p{
        font-size: 20px;
        opacity: 0.7;
        max-width: 700px;
    }
    button{
        border-radius: 30px;
        height: 60px;
        padding: 0px 30px;
        font-size: 15px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
        background-color: #f4623a;
    }
}
hr{
    max-width: 50px;
    width:100%;
    height: 3px;
    color: white;
    background-color: white;
    border: none;
}

.second-main{
    width: 100%;
    background-color: #f4623a;
    padding: 80px 0px;
    div{
        max-width: 1140px;
        width: 100%;
        margin: 0% auto;
        color: white;
        text-align: center;
        padding: 10px;
        h3{
            font-size: 30px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
        }
        p{
            max-width: 700px;
            font-size: 20px;
            font-family: "Roboto",sans-serif;
            color: rgba(255,255,255,.5);
        }
        button{
            border-radius: 30px;
            height: 60px;
            padding: 0px 30px;
            font-size: 15px;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
            color: rgba(0,0,0,0.7);
            background-color: white;
        }
    }
}

.three-main{
    width: 100%;
    padding: 50px 0px;
    .sub-main
    {
        max-width: 1200px;
        width: 100%;
        margin:0% auto;
        h3{
            font-size: 25px;
        }
        hr{
            background-color: red;
            margin: 40px 0px;
        }
        .items-main{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            place-content: center;
            div{
                max-width: 300px;
                p{
                    margin: 0px;
                    width: 90%;
                }
                i{
                    color: #f4623a;
                }
            }
        }
    }
}

.download-section{
    width: 100%;
    background-color: #343a40;
    padding: 80px 0px;
    .h1-button{
        text-align: center;
        h1{
            font-size: 35px;
            color: white;
            font-weight: 400;
        }
        button{
            height: 60px;
            border-radius: 30px;
            background-color: white;
            padding: 0px 50px;
            font-size: 16px;
            margin-top: 10px;
        }
    }
}

.contact-section{
    width: 100%;
    text-align: center;
    padding: 50px 0px;
    .last-div{
        padding: 10px;
    }
    h1{
        font-weight: 300px;
    }
    hr{
        background: red;
    }
    p{
        max-width: 600px;
        color: rgba(0,0,0,.5);
        font-size: 20px;
    }
    .contact-items{
        max-width: 600px;
        padding: 20px 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        place-content: center space-around;
        p{
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 992px) {
    h1{
        font-size: 1.5em;
    }
    .main-sub{
        h1{
            font-size: 3em;
        }
    }
    p{
        font-size: 18px !important;
    }
  }

  @media screen and (max-width: 600px) {
    h1{
        font-size: 1em;
    }
    .main-sub{
        h1{
            font-size: 2em;
        }
    }
    p{
        font-size: 16px !important;
    }
  }